{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Brianna and RT’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

{{!-- <div class="wedding-nav">
    <ul>
        <li>the wedding party</li>
        <li>the venue</li>
        <li>the ceremony</li>
        <li>the reception</li>
    </ul>
</div> --}}
<div id="wedding">
    <div class="img-background" id="wedding">
      <section id="info">
        <h3><strong>Indigo Falls</strong></h3>
        <h3>6:00PM 09.24.16</h3>
        <h4>392 Red Mountain Road</h4>
        <h4>Dallas, GA 30157</h4>
      </section>
    </div>
</div>