{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Brianna and RT’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

{{!-- <div class="wedding-nav">
    <ul>
        <li>the wedding party</li>
        <li>the venue</li>
        <li>the ceremony</li>
        <li>the reception</li>
    </ul>
</div> --}}
<div id="wedding">
    <div class="img-background" id="wedding">
      <section id="info">
        <a href="https://www.google.com/maps/place/Indigo+Falls+Events/@33.8962438,-84.9168213,17z/data=!3m1!4b1!4m5!3m4!1s0x88f532ee282d544b:0xbd26800ccbf63834!8m2!3d33.8962394!4d-84.9146273" target="_blank">
            <h3><strong>Indigo Falls</strong></h3>
            <h3>6:00PM 09.24.16</h3>
            <h4>392 Red Mountain Road</h4>
            <h4>Dallas, GA 30157</h4>
        </a>
      </section>

      <section id="info2">
        <a href="https://www.google.com/maps/place/Country+Inn+%26+Suites+By+Carlson,+Hiram,+GA/@33.8940522,-84.7676251,17z/data=!3m1!4b1!4m5!3m4!1s0x88f53a9a52771dc3:0xd3c6adccb682eee1!8m2!3d33.8940522!4d-84.7654311" target="_blank">
            <h3><strong>Hotel: Country Inn & Suites </strong></h3>
            <h4>Call to book <a href="tel:+1-770-222-0456">770-222-0456</a></h4>
            <h4>10 Enterprise Path</h4>
            <h4>Hiram, Ga, 30141 </h4>
        </a>
      </section>
    </div>
</div>