{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Brianna and RT’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

{{!-- <div class="wedding-nav">
    <ul>
        <li>the wedding party</li>
        <li>the venue</li>
        <li>the ceremony</li>
        <li>the reception</li>
    </ul>
</div> --}}
<div id="wedding">
    <img src='/img/wedding/flowers.jpg'> 
    <div class='info-body'>
        <h1>Indigo Falls</h1>
        <h3>September 24, 2016</h3>
        <h3>392 Red Mountain Road Dallas</h3>
        <h3>Georgia 30157</h3>

        <h3><a href='http://goo.gl/forms/q7ePzBXQiFmtylbq2' target='_blank'>RSVP Here</a></h3>
        <p><b>Wedding Details</b></p>
        <p>Please join us at <a href='http://www.indigofallsevents.com/'>Indigo Falls</a> in Dallas Georgia for the wedding ceremony and reception. The ceremony begins at 5 p.m. please arrive by 4:45 p.m. Attire is dressy casual (jackets not required).</p>
        <p>Your attendance is the best gift we could ask for! But if you insist please see our <a href='/registry'>registry information.</a></p>

        <p><b>Lodging</b></p>
        <p>We have a hotel block for guests at the <a href='https://www.countryinns.com/hiram-hotel-ga-30141/gahiram'>Country Inn & Suites</a>. Call to book 770-222-0456. Address: 10 Enterprise Path Hiram, Ga, 30141</p>
        <div id="gmap">
        <iframe src="https://www.google.com/maps/d/embed?mid=1bIbRCUzz7yQySbARs9KguaVtKwc" frameBorder="0"></iframe>
        </div>
    </div>   
</div>